<%= form_with(model: iten) do |form| %>
  <% if iten.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% iten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="box_itens">
  <div class="nome_itens_form">
    <%= form.label :nome_evento, style: "display: block" %>
    <%= form.text_field :nome_evento %>
  </div><br>

  <div class="data_concl_form">
    <%= form.label :data_conclusao, style: "display: block" %>
    <%= form.date_field :data_conclusao %>
  </div><br>

  <div class="box_cat_form">
    <%= form.label :categoria, style: "display: block" %>
    
    <%= form.label :categoria_saude, "Saúde" %>
    <%= form.radio_button :categoria, "Saúde" %>

    <%= form.label :categoria_lazer, "Lazer" %>
    <%= form.radio_button :categoria, "Lazer" %>

    <%= form.label :categoria_financeiro, "Financeiro" %>
    <%= form.radio_button :categoria, "Financeiro" %>

    <%= form.label :categoria_estudo, "Estudo" %>
    <%= form.radio_button :categoria, "Estudo" %>
  
    <%= form.label :categoria_familia, "Família" %>
    <%= form.radio_button :categoria, "Família" %>
  </div><br>

  <div class="box_status_form">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, ["Feito", "Andamento", "A Fazer", "Cancelado"] %>
  </div><br>

  <div class="button_itens">
    <%= form.submit %>
  </div>
</div>
<% end %>