<div id="<%= dom_id iten %>" class="matriz">
  <p class="nome_evento ">
    <strong>Nome evento:</strong>
    <%= iten.nome_evento %>
  </p>

  <p class="data_conclusao">
    <strong>Data conclusão:</strong>
    <%= iten.data_conclusão %>
  </p>

  <p class="categoria">
    <strong>Categoria:</strong>
    <%= iten.categoria %>
  </p>

  <p class="status">
    <strong>Status:</strong>
    <%= iten.status %>
  </p>

</div>