<div id="<%= dom_id iten %>">
  <p>
    <strong>Nome evento:</strong>
    <%= iten.nome_evento %>
  </p>

  <p>
    <strong>Data conclusão:</strong>
    <%= iten.data_conclusão %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= iten.categoria %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= iten.status %>
  </p>

</div>
